* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* margin: 0; */
}

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  --border-radius: 10px;
  --box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.2);
}

html {
  background-image: url(images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-color: var(--Red);
}

body {
  font-size: 16px;
  color: white;
}

main {
  margin: 5em auto;
  width: 90%;
}

.cta-container {
  text-align: center;
}

.cta-header {
  font-size: 1.75rem;
}

.form-header-container {
  background-color: var(--Blue);
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 4em auto 2em;
  box-shadow: var(--box-shadow);
}

.form-header-container p {
  width: 70%;
}

form {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5em;
}

label {
  display: none;
}

input,
button {
  outline: none;
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  outline: none;
  border: 1px solid var(--Grayish-Blue);
  padding: 1.5em;
  padding-right: 4em;
  margin-bottom: 1em;
  font-weight: 500;
  color: black;
}

input:focus {
  border-color: var(--Blue);
}

::placeholder {
  color: var(--Dark-Blue);
  font-weight: 600;
}

.placeholder-red {
  color: var(--Red);
}

.input {
  position: relative;
}

.icon {
  content: url(images/icon-error.svg);
  position: absolute;
  right: 1em;
  top: 1.25em;
  display: none;
}

.active {
  display: block;
}

#error-fname,
#error-lname,
#error-email,
#error-password {
  font-style: italic;
  color: var(--Red);
  font-size: 0.75rem;
  font-weight: 500;
  text-align: end;
  transform: translateY(-0.75em);
}

button {
  background-color: var(--Green);
  color: inherit;
  padding: 1em;
  border: 1px solid var(--Green);
  box-shadow: 0px 4px 2px 0px hsl(154, 59%, 41%);
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.terms {
  color: var(--Grayish-Blue);
  font-size: 0.75rem;
  text-align: center;
}

.terms-link {
  color: var(--Red);
  font-weight: 600;
  cursor: pointer;
}

.terms-link:hover {
  opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 1281.59px;
    margin: 2em auto;
  }

  .cta-container {
    width: 500px;
    text-align: start;
    transform: translateY(35px);
  }

  .cta-header {
    font-size: 3rem;
    line-height: 1em;
  }

  .form-container {
    width: 500px;
  }

  .form-header-container p {
    width: 100%;
  }

  form {
    padding: 2em;
  }

  input {
    margin-bottom: 1.5em;
    padding: 1.5em 2em;
    padding-right: 4em;
  }

  .error-fname {
    font-style: italic;
    color: var(--Red);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: end;
    transform: translateY(-1.5em);
  }
}
